 <!-- Banner Starts -->
 <section class="text-center  mt-2  pb-2 cursor-pointer" <%=   onClick="window.location='#'"%>>
    <div class="container-lg ">
        <img class="img-fluid desktopView " alt="ayurvedic Clinic Consultation" loading="lazy "
            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/clinic_consultation_desktop_banner.jpg">
        <img class="img-fluid mobileView" alt="ayurvedic Clinic Consultation " loading="lazy"
            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/clinicconsultationmobile_banner.jpg">
    </div>
</section>
<!-- Banner Ends -->