<!-- Banner Starts -->

<section class="text-center  pt-2  pb-4">
    <div class>
        <a href="#" target="_blank">
            <img class="img-fluid desktopView " alt="alt text  " loading="lazy "
                src="https://sushainclinic.s3.ap-south-1.amazonaws.com/staticimages/franchisee+banner+desktop.jpg">
            <img class="img-fluid mobileView" alt="Sushain Franchise  " loading="lazy"
                src="https://sushainclinic.s3.ap-south-1.amazonaws.com/staticimages/franchisee+banner+mobile.jpg">
        </a>
    </div>
</section>
<!-- Banner Ends -->