<!-- Carousal, Service, Top Doctors and Banner Section Starts -->

<div class="mblhome">
    <!-- Carousal Start-->
    <div id="carouselMain" class="carousel carousel-home slide bg-blue" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1" class></button>
            <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="2" class></button>
            <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="3" class></button>
            <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="4" class></button>
            <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="5" class></button>
            <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="6" class></button>
            <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="7" class></button>


        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16784777155205.jpg"
                        alt="Ayurvedic Video Consultation" class="d-none d-sm-block w-100" loading="lazy" />
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1678477715650.jpg"
                        alt="Ayurvedic Video Consultation" class="d-block d-sm-none w-100" loading="lazy" />
                </a>
                <ul class="list-inline hide">
                    <li class="list-inline-item"> Download app </li>
                    <li class="list-inline-item">
                        <a href="#" title="Android" class="text-white">
                            <img class="w-30px" alt="Ayurvedic Video Consultation"
                                src="https://sushainclinic.com/public/web_html/images/play-store.png" loading="lazy"
                                alt="play-store">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Apple" class="text-white">
                            <img class="w-30px img-white" alt="Ayurvedic Video Consultation"
                                src="https://sushainclinic.com/public/web_html/images/apple.png" loading="lazy"
                                alt="app-store">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="carousel-item ">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/17062515027253.jpg"
                        alt="Menopose" class="d-none d-sm-block w-100" loading="lazy" />
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/17062515023988.jpg"
                        alt="Menopose" class="d-block d-sm-none w-100" loading="lazy" />
                </a>
                <ul class="list-inline hide">
                    <li class="list-inline-item"> Download app </li>
                    <li class="list-inline-item">
                        <a href="#" title="Android" class="text-white">
                            <img class="w-30px" alt="Menopose"
                                src="https://sushainclinic.com/public/web_html/images/play-store.png" loading="lazy"
                                alt="play-store">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Apple" class="text-white">
                            <img class="w-30px img-white" alt="Menopose"
                                src="https://sushainclinic.com/public/web_html/images/apple.png" loading="lazy"
                                alt="app-store">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="carousel-item ">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16927681947317.jpg"
                        alt="beauty and personal care" class="d-none d-sm-block w-100" loading="lazy" />
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16927681948708.jpg"
                        alt="beauty and personal care" class="d-block d-sm-none w-100" loading="lazy" />
                </a>
                <ul class="list-inline hide">
                    <li class="list-inline-item"> Download app </li>
                    <li class="list-inline-item">
                        <a href="#" title="Android" class="text-white">
                            <img class="w-30px" alt="beauty and personal care"
                                src="https://sushainclinic.com/public/web_html/images/play-store.png" loading="lazy"
                                alt="play-store">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Apple" class="text-white">
                            <img class="w-30px img-white" alt="beauty and personal care"
                                src="https://sushainclinic.com/public/web_html/images/apple.png" loading="lazy"
                                alt="app-store">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="carousel-item ">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/17030955755856.jpeg"
                        alt="Homeopathy Consultation " class="d-none d-sm-block w-100" loading="lazy" />
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/17030955752378.jpg"
                        alt="Homeopathy Consultation " class="d-block d-sm-none w-100" loading="lazy" />
                </a>
                <ul class="list-inline hide">
                    <li class="list-inline-item"> Download app </li>
                    <li class="list-inline-item">
                        <a href="#" title="Android" class="text-white">
                            <img class="w-30px" alt="Homeopathy Consultation "
                                src="https://sushainclinic.com/public/web_html/images/play-store.png" loading="lazy"
                                alt="play-store">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Apple" class="text-white">
                            <img class="w-30px img-white" alt="Homeopathy Consultation "
                                src="https://sushainclinic.com/public/web_html/images/apple.png" loading="lazy"
                                alt="app-store">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="carousel-item ">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/17030956219971.jpeg"
                        alt="Homeopathy Medicines " class="d-none d-sm-block w-100" loading="lazy" />
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/17030956217491.jpg"
                        alt="Homeopathy Medicines " class="d-block d-sm-none w-100" loading="lazy" />
                </a>
                <ul class="list-inline hide">
                    <li class="list-inline-item"> Download app </li>
                    <li class="list-inline-item">
                        <a href="#" title="Android" class="text-white">
                            <img class="w-30px" alt="Homeopathy Medicines "
                                src="https://sushainclinic.com/public/web_html/images/play-store.png" loading="lazy"
                                alt="play-store">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Apple" class="text-white">
                            <img class="w-30px img-white" alt="Homeopathy Medicines "
                                src="https://sushainclinic.com/public/web_html/images/apple.png" loading="lazy"
                                alt="app-store">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="carousel-item ">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/17048658955670.jpeg"
                        alt="Homeopathy Medicines" class="d-none d-sm-block w-100" loading="lazy" />
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/17048658964249.jpeg"
                        alt="Homeopathy Medicines" class="d-block d-sm-none w-100" loading="lazy" />
                </a>
                <ul class="list-inline hide">
                    <li class="list-inline-item"> Download app </li>
                    <li class="list-inline-item">
                        <a href="#" title="Android" class="text-white">
                            <img class="w-30px" alt="Homeopathy Medicines"
                                src="https://sushainclinic.com/public/web_html/images/play-store.png" loading="lazy"
                                alt="play-store">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Apple" class="text-white">
                            <img class="w-30px img-white" alt="Homeopathy Medicines"
                                src="https://sushainclinic.com/public/web_html/images/apple.png" loading="lazy"
                                alt="app-store">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="carousel-item ">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16785542333971.jpg"
                        alt="Ayurvedic Doctors Consultation" class="d-none d-sm-block w-100" loading="lazy" />
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16785542355796.jpg"
                        alt="Ayurvedic Doctors Consultation" class="d-block d-sm-none w-100" loading="lazy" />
                </a>
                <ul class="list-inline hide">
                    <li class="list-inline-item"> Download app </li>
                    <li class="list-inline-item">
                        <a href="#" title="Android" class="text-white">
                            <img class="w-30px" alt="Ayurvedic Doctors Consultation"
                                src="https://sushainclinic.com/public/web_html/images/play-store.png" loading="lazy"
                                alt="play-store">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Apple" class="text-white">
                            <img class="w-30px img-white" alt="Ayurvedic Doctors Consultation"
                                src="https://sushainclinic.com/public/web_html/images/apple.png" loading="lazy"
                                alt="app-store">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="carousel-item ">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1680501223133.jpg"
                        alt="Medicine Banner" class="d-none d-sm-block w-100" loading="lazy" />
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16805012237429.jpg"
                        alt="Medicine Banner" class="d-block d-sm-none w-100" loading="lazy" />
                </a>
                <ul class="list-inline hide">
                    <li class="list-inline-item"> Download app </li>
                    <li class="list-inline-item">
                        <a href="#" title="Android" class="text-white">
                            <img class="w-30px" alt="Medicine Banner"
                                src="https://sushainclinic.com/public/web_html/images/play-store.png" loading="lazy"
                                alt="play-store">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Apple" class="text-white">
                            <img class="w-30px img-white" alt="Medicine Banner"
                                src="https://sushainclinic.com/public/web_html/images/apple.png" loading="lazy"
                                alt="app-store">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <!-- Carousal End-->

    <!-- Our Services  start-->
    <section class="text-center">
        <div class="container-lg mb-3">
            <h2 class="fw-bold my-4 text-theme h4 page-heading">OUR SERVICES</h2>
            <div class="row">
                <div class="col-6 col-md-2  cursor-pointer " onClick="window.location='#';">
                    <div class="mb-3">
                        <div class="card mj-shadow">
                            <img class="card-img-top"
                                src="https://sushainclinic.com/public/landingpage/gynae/assets/images/index-4-our-service-1.png"
                                loading="lazy" alt="1.	Ayurvedic Doctor Video Consultation">
                            <div class="card-body p-2 video_consul_divider">
                                <a
                                    class="card-title fw-bold text-black-50 text-decoration-none our-service-title small">
                                    Ayurvedic Doctor Video Consultation </a>
                                <a class="btn btn-primary bookbtn d-none " href="#">
                                    Book Now </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2  cursor-pointer " onClick="window.location='#';">
                    <div class="mb-3">
                        <div class="card mj-shadow">
                            <img class="card-img-top"
                                src="https://sushainclinic.com/public/landingpage/gynae/assets/images/index-4-our-service-1.png"
                                loading="lazy" alt="1.	Ayurvedic Doctor Video Consultation">
                            <div class="card-body p-2 video_consul_divider">
                                <a
                                    class="card-title fw-bold text-black-50 text-decoration-none our-service-title small">
                                    Ayurvedic Doctor Video Consultation </a>
                                <a class="btn btn-primary bookbtn d-none " href="#">
                                    Book Now </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2  cursor-pointer " onClick="window.location='#';">
                    <div class="mb-3">
                        <div class="card mj-shadow">
                            <img class="card-img-top"
                                src="https://sushainclinic.com/public/landingpage/gynae/assets/images/index-4-our-service-1.png"
                                loading="lazy" alt="1.	Ayurvedic Doctor Video Consultation">
                            <div class="card-body p-2 video_consul_divider">
                                <a
                                    class="card-title fw-bold text-black-50 text-decoration-none our-service-title small">
                                    Ayurvedic Doctor Video Consultation </a>
                                <a class="btn btn-primary bookbtn d-none " href="#">
                                    Book Now </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2  cursor-pointer " onClick="window.location='#';">
                    <div class="mb-3">
                        <div class="card mj-shadow">
                            <img class="card-img-top"
                                src="https://sushainclinic.com/public/landingpage/gynae/assets/images/index-4-our-service-1.png"
                                loading="lazy" alt="1.	Ayurvedic Doctor Video Consultation">
                            <div class="card-body p-2 video_consul_divider">
                                <a
                                    class="card-title fw-bold text-black-50 text-decoration-none our-service-title small">
                                    Ayurvedic Doctor Video Consultation </a>
                                <a class="btn btn-primary bookbtn d-none " href="#">
                                    Book Now </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2  cursor-pointer " onClick="window.location='#';">
                    <div class="mb-3">
                        <div class="card mj-shadow">
                            <img class="card-img-top"
                                src="https://sushainclinic.com/public/landingpage/gynae/assets/images/index-4-our-service-1.png"
                                loading="lazy" alt="1.	Ayurvedic Doctor Video Consultation">
                            <div class="card-body p-2 video_consul_divider">
                                <a
                                    class="card-title fw-bold text-black-50 text-decoration-none our-service-title small">
                                    Ayurvedic Doctor Video Consultation </a>
                                <a class="btn btn-primary bookbtn d-none " href="#">
                                    Book Now </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2  cursor-pointer " onClick="window.location='#';">
                    <div class="mb-3">
                        <div class="card mj-shadow">
                            <img class="card-img-top"
                                src="https://sushainclinic.com/public/landingpage/gynae/assets/images/index-4-our-service-1.png"
                                loading="lazy" alt="1.	Ayurvedic Doctor Video Consultation">
                            <div class="card-body p-2 video_consul_divider">
                                <a
                                    class="card-title fw-bold text-black-50 text-decoration-none our-service-title small">
                                    Ayurvedic Doctor Video Consultation </a>
                                <a class="btn btn-primary bookbtn d-none " href="#">
                                    Book Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-lg mj-intro bg-muted pt-3">
        <h2 class=" fw-bold  text-uppercase text-center primary-color h4 page-heading"> Ayurvedic Doctor in top
            specialities
        </h2>
        <div class="row text-center" style="padding-right: 1%;">
            <div class="col-md-2 col-sm-4 col-4 mb-3" style="padding: 0px 0px 0px 2%;">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16582575865324.png"
                        alt="Diabetes" loading="lazy" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4 mb-3" style="padding: 0px 0px 0px 2%;">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16582575865324.png"
                        alt="Diabetes" loading="lazy" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4 mb-3" style="padding: 0px 0px 0px 2%;">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16582575865324.png"
                        alt="Diabetes" loading="lazy" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4 mb-3" style="padding: 0px 0px 0px 2%;">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16582575865324.png"
                        alt="Diabetes" loading="lazy" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4 mb-3" style="padding: 0px 0px 0px 2%;">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16582575865324.png"
                        alt="Diabetes" loading="lazy" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4 mb-3" style="padding: 0px 0px 0px 2%;">
                <a href="#">
                    <img src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16582575865324.png"
                        alt="Diabetes" loading="lazy" class="img-fluid">
                </a>
            </div>

        </div>
    </section>

    <!-- Bannner Start-->

    <section class="text-center  pt-1  mt-4 pb-2 cursor-pointer " onclick="location.href='#'>
        <div class=" container-lg ">
            <img class=" img-fluid desktopView " alt=" Buy Beauty Products Online" loading="lazy "
        src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16927344362493.jpg">
        <img class="img-fluid mobileView" alt="Buy Beauty Products Online" loading="lazy"
            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1692734436921.jpg">
    </section>

    <!-- Banner Ends -->

</div>

<!-- Carousal, Service, Top Doctors and Banner Section Ends -->