
<script src="./js/common1212.js"></script>
</div>



<script>


    function launching() {
        alert('Launching Soon ');
    }

    $(document).ready(function () {


        $('#sexsualexpert-carousel').owlCarousel({
            autoplay: false,
            loop: true,
            margin: 30,
            dots: true,
            items: 4,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 2,
                    margin: 10,
                    nav: true,
                    dots: true,
                },
                600: {
                    items: 2,
                    nav: true,
                    dots: true
                },
                1000: {
                    items: 4,
                    nav: true,
                    dots: true
                }
            }
        });

        $('.owl-carousel-topdoctor-slider').owlCarousel({
            loop: true,
            dots: true,
            margin: 16,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })

        $('.owl-carousel-blog-slider').owlCarousel({
            loop: true,
            dots: true,
            margin: 16,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })


        $('.owl-carousel-top-doctor').owlCarousel({
            loop: false,
            dots: true,
            margin: 16,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
        $('.owl-carousel-success-story').owlCarousel({
            loop: false,
            dots: true,
            margin: 16,
            width: '200px',
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
        $('.owl-carousel-mobile-banner').owlCarousel({
            loop: true,
            dots: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    })

    if (innerWidth < 400) {
        $('.page-heading').addClass('h6');
        $('.page-heading').removeClass('h4');
    } else {
        $('.page-heading').addClass('h4');
        $('.page-heading').removeClass('h6');
    }
    if (innerWidth < 400) {
        $('.our-service-title').addClass('small');
    } else {
        $('.our-service-title').removeClass('small');
    }
    $('.category-dis').click(async function () {

        var current_time = '08';
        $('.category-dis').removeClass('active')
        $(this).addClass('active')
        var doctorModelTitle = $('.category-dis.active').attr('data-name').replace(/-/g, " ");
        $('.modal-doctor-title').html(doctorModelTitle);


        await $.ajax({
            url: '#',
            type: 'post',
            data: { specilization: doctorModelTitle },
            success: function (res) {
                $('#bookingspecilization').val(doctorModelTitle);
                $('#modal-doctor-list').html(res);
            }
        });


        $('.category-container').hide();
        $('.doctor-container').show();
        $('.book-now-container').show();
    })

    $('.sspopup').click(function () {

        var url = $(this).attr('videourlSS');

        var doctorModelTitle = `  <video   id="vplyaer"   style="width:100%;"  poster=""  controls autoplay >
                                <source src="${url}" type="video/mp4">
                                <source src="movie.ogg" type="video/ogg">
                                Your browser does not support the video tag.
                            </video>`;

        $('#ssModal').modal('show');
        $('#ssVideo').html(doctorModelTitle);

    })

    $('.close_ssVideo').click(function () {
        $('.ssModal').modal('hide');
        //  $("#vplyaer").pause();       // Tag name used as a selector

        $('#vplyaer').get(0).pause()

    })
    $('.back-btn').click(function () {
        $('.category-container').show();
        $('.doctor-container').hide();
        $('.book-now-container').hide();
    })
    $('.form-book-submit').click(function () {
        var data = {
            category: $('.category-dis.active').attr('data-name'),
            submit: 1
        }
        $('#exampleModal').modal('hide');
        console.log(data);

    })
</script>
<script>


    function launching() {
        alert('Launching Soon ');
    }

    $(document).ready(function () {

        $('.owl-carousel-topdoctor-slider').owlCarousel({
            loop: true,
            dots: true,
            margin: 16,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })

        $('.owl-carousel-blog-slider').owlCarousel({
            loop: true,
            dots: true,
            margin: 16,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })


        $('.owl-carousel-top-doctor').owlCarousel({
            loop: false,
            dots: true,
            margin: 16,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
        $('.owl-carousel-success-story').owlCarousel({
            loop: false,
            dots: true,
            margin: 16,
            width: '200px',
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
        $('.owl-carousel-mobile-banner').owlCarousel({
            loop: true,
            dots: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    })

    if (innerWidth < 400) {
        $('.page-heading').addClass('h6');
        $('.page-heading').removeClass('h4');
    } else {
        $('.page-heading').addClass('h4');
        $('.page-heading').removeClass('h6');
    }
    if (innerWidth < 400) {
        $('.our-service-title').addClass('small');
    } else {
        $('.our-service-title').removeClass('small');
    }
    $('.category-dis').click(async function () {

        var current_time = '08';
        $('.category-dis').removeClass('active')
        $(this).addClass('active')
        var doctorModelTitle = $('.category-dis.active').attr('data-name').replace(/-/g, " ");
        $('.modal-doctor-title').html(doctorModelTitle);





        $('.category-container').hide();
        $('.doctor-container').show();
        $('.book-now-container').show();
    })

    $('.sspopup').click(function () {

        var url = $(this).attr('videourlSS');



        $('#ssModal').modal('show');
        $('#ssVideo').html(doctorModelTitle);

    })

    $('.close_ssVideo').click(function () {
        $('.ssModal').modal('hide');
        //  $("#vplyaer").pause();       // Tag name used as a selector

        $('#vplyaer').get(0).pause()

    })
    $('.back-btn').click(function () {
        $('.category-container').show();
        $('.doctor-container').hide();
        $('.book-now-container').hide();
    })
    $('.form-book-submit').click(function () {
        var data = {
            category: $('.category-dis.active').attr('data-name'),
            submit: 1
        }
        $('#exampleModal').modal('hide');
        console.log(data);

    })
</script>

<footer id="footerId">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xl-9 py-3">
                <h5 class="fw-bold mb-3">Quick Links </h5>
                <div class="row row-cols-2 row-cols-sm-2 row-cols-xl-4">
                    <div class="col">
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#"> Clinic Consultation </a>
                            </li>
                            <li><a href="#">Video Consultation</a></li>
                            <li><a href="#">Order Medicines </a>
                            </li>
                            <li><a href="#">Apply for Franchise </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="footer-links">
                            <li><a href="#">Footer Link 1 </a></li>
                            <li><a href="#">Footer Link 1 </a></li>
                            <li><a href="#">Footer Link 1 </a></li>
                            <li><a href="#">Footer Link 1 </a></li>
                            <li><a href="#">Footer Link 1 </a></li>

                        </ul>
                    </div>
                    <div class="col">
                        <ul class="footer-links">
                            <li><a href="#">Footer Link 1 </a></li>
                            <li><a href="#">Footer Link 2 </a></li>
                            <li><a href="#">Footer Link 3 </a></li>
                            <li><a href="#">Footer Link 4 </a></li>
                            <li><a href="#">Footer Link 5 </a></li>

                        </ul>
                    </div>
                    <div class="col">
                        <ul class="footer-links">
                            <li> Contact Detail </li>
                            <li><a href#"><span class="__cf_email__"
                                        data-cfemail="#">[email&#160;protected]</span></a>
                            </li>
                        </ul>
                        <ul class="footer-links">
                            <li>
                                <b> Mobile : </b> <a href="#"> 123456789 </a>
                            </li>
                        </ul>
                        <ul class="footer-links">
                            <li>
                                <a href="#">
                                    Post Health Concern
                                </a>
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item">Follow us</li>
                            <li class="list-inline-item">
                                <a href="#" target="_blank" title="Facebook" class="text-muted">
                                    <svg class="icon icon-1x">
                                        <use href="#icon_facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" target="_blank" title="Instagram" class="text-muted">
                                    <svg xmlns="https://www.w3.org/2000/svg" class="icon icon-1x"
                                        fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                        <path
                                            d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                                    </svg>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" target="_blank" title="YouTube" class="text-muted">
                                    <svg class="icon icon-1x">
                                        <use href="#icon_youtube"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3 py-3">
                <h5 class="fw-bold mb-3"> About Company </h5>
                <form>
                    <div class="mb-3">
                        Registered Address:

                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, voluptates.
                    </div>
                    <div class="mb-3">
                        Corporate Office Address :
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, expedita.
                    </div>
                    <div class="mb-3">
                        <b> GSTIN : </b> XYZXYZXYZXYZ
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12 py-3 text-center">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae sed repellat quam rem blanditiis
                adipisci.
            </div>
        </div>
    </div>
</footer>
<div class=" d-none">
    <div id="token"></div>
    <div id="message"></div>
    <div id="error"></div>
</div>
<div id="device_type"></div>

<div style="background-color: rgba(0, 0, 0, 0.5); z-index: 99999999;" class="modal fade " id="trackingPopUp"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-xl bg-blue text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Track Your Order</h5>
                <font style="cursor:pointer;" aria-hidden="true" size="5" data-bs-dismiss="modal">×</font>
            </div>
            <div class="modal-body">
                <div class>
                    <div class="form-group">
                        <ul>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quasi dolorum labore
                                deleniti asperiores dolor.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vel velit beatae
                                consectetur magnam quod.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis error atque
                                pariatur dolorum dicta.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Enter Tracking/ Order Number </label>
                    <input type="text" class="w-100 px-3 py-2 border-0 bg-darkblue text-white rounded-pill"
                        id="trackingNumber" placeholder=" Enter Order / Tracking Number " />
                </div>
                <div class="form-group mt-4 w-100">
                    <button type="button" class="btn bg-darkblue text-white rounded-pill"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-light rounded-pill pull-right" onClick="trackOrder()">Track
                        Now </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="./js/bootstrap.bundle.min.js"></script>
<script src="./js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script src="./js/owl.carousel.min.js"></script>


<div class="modal fade" style="background-color: rgba(0, 0, 0, 0.5);" id="docReviewModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Patient Review's</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="review_modal_body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    // document.getElementById('device_type').innerHTML = displayMode;
    $(document).on("click", ".doc_reviews", function () {
        $("#review_modal_body").html(`<div class="text-center"><i class="fa fa-refresh fa-spin"></i> Fetching data please wait ...</div>`);
        $("#docReviewModal").modal("toggle");
        const doctorId = $(this).attr("doctorId");
        $.get("#" + doctorId, function (resHtml) {
            $("#review_modal_body").html(resHtml);
        });
    });
</script>

<div id="appt_modal"></div>


<div class="modal fade" id="mj-dis_spl_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    </div>
</div>

<script>
    $(document).on('click', '[data-zoom]', function () {
        var image = $(this).attr('data-zoom');
        $('.zoom').css({
            backgroundImage: 'url(' + image + ')'
        });
        $('.zoom img').attr('src', image)
        $('.zoom-items .ratio').removeClass('active');
        $(this).addClass('active');
    });
    function zoom(e) {
        var zoomer = e.currentTarget;
        e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
        e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
        x = offsetX / zoomer.offsetWidth * 100;
        y = offsetY / zoomer.offsetHeight * 100;
        zoomer.style.backgroundPosition = x + '% ' + y + '%';
    }
</script>
<script>
    $('#carouselSimilarProd').owlCarousel({
        margin: 0,
        loop: true,
        nav: true,
        stagePadding: 0,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            992: {
                items: 3
            },
            1200: {
                items: 4
            },
            1400: {
                items: 5
            }
        }
    });
</script>
<script>

    $('#carouselBestSellers2').owlCarousel({
        margin: 0,
        loop: true,
        nav: true,
        stagePadding: 0,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            992: {
                items: 3
            },
            1200: {
                items: 3
            },
            1400: {
                items: 3
            }
        }
    });


    $('#carouselBestSellers').owlCarousel({
        margin: 0,
        loop: true,
        nav: true,
        stagePadding: 0,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            992: {
                items: 3
            },
            1200: {
                items: 4
            },
            1400: {
                items: 5
            }
        }
    });

    $('#carouselMediaCoverageHi').owlCarousel({
        margin: 28,
        loop: true,
        nav: true,
        stagePadding: 0,
        autoHeight: true,
        responsive: {
            0: {
                items: 2
            },
            768: {
                items: 4
            },
            1200: {
                items: 6
            }
        }
    });
    $('#carouselMediaCoverage').owlCarousel({
        margin: 28,
        loop: true,
        nav: true,
        stagePadding: 0,
        autoHeight: true,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            1200: {
                items: 3
            }
        }
    });

    $('#carouselSuccessStories').owlCarousel({
        margin: 28,
        loop: true,
        nav: true,
        stagePadding: 0,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            1200: {
                items: 3
            }
        }
    });

</script>
<script>
    $('#carouselBestSellers1, #carouselRecentView1, #carouselNutritionalProd1').owlCarousel({
        margin: 0,
        loop: false,
        nav: true,
        stagePadding: 0,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            992: {
                items: 2
            },
            1200: {
                items: 3
            },
            1400: {
                items: 4
            }
        }
    });

    $(document).on('change', '#variantpro', function () {
        let id = $(this).val();
        let medname = $(this).find(':selected').data('medname');
        window.location.href = '#' + id + '/' + medname;
    });
</script>
<script>
    $(document).ready(function () {
        // $('.my-1').change(function() 
        //   {
        //     mysearch();


        // });

        $("#keyword").keyup(function () {
            mysearch();
        });

        // mysearch();  
        function mysearch() {

            var keyword = $('#keyword').val();
            var medicine = [];
            if ($('#category').val() != '') {
                medicine.push($('#category').val());
            }
            // pcare=[];
            var price = [];
            $("input[name='medicines[]']").map(function (key) {
                if (this.checked)
                    medicine.push($(this).val());
            })

            // $("input[name='pcare[]']").map( function(key){
            //   if (this.checked)
            //         pcare += $(this).val() + " | ";
            //   })

            $("input[name='price[]']").map(function (key) {
                if (this.checked)
                    price.push($(this).val());
            })

            $.post("#", { medicine: medicine, price: price, keyword: keyword })
                .done(function (data) {
                    if (data == 'empty') {
                        location.reload();
                    } else {

                        $("#div_product").html(data);
                    }
                    //alert(data);
                    for (var i = 0; i < medicine.length; i++) {
                        var success = $(data).find("#carouselBestSellers_" + i);

                        $('#carouselBestSellers_' + i).owlCarousel({
                            margin: 0,
                            loop: false,
                            nav: true,
                            stagePadding: 0,
                            responsive: {
                                0: {
                                    items: 1
                                },
                                768: {
                                    items: 2
                                },
                                992: {
                                    items: 2
                                },
                                1200: {
                                    items: 3
                                },
                                1400: {
                                    items: 4
                                }
                            }
                        });
                    }
                    $('#carouselBestSellers_1').owlCarousel({
                        margin: 0,
                        loop: false,
                        nav: true,
                        stagePadding: 0,
                        responsive: {
                            0: {
                                items: 1
                            },
                            768: {
                                items: 2
                            },
                            992: {
                                items: 2
                            },
                            1200: {
                                items: 3
                            },
                            1400: {
                                items: 4
                            }
                        }
                    });


                    //$(".getid").attr("id","carouselBestSellers2");

                    ///////////////////////
                    setTimeout(function () { setdata(); }, 2000);

                    /////////////////////////
                });


        }


        function setdata() {
            owl = $('#carouselBestSellers');

            owl.data('owlCarousel').destroy();
            owl.owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                items: 4,
            });
            // $('#carouselBestSellers').owlCarousel('refresh');

            alert("hi");
        }
        // fetch category data

        function get_cagetory_product(category_id) {
            alert(category_id);
        }
    });
</script>

<script type="text/javascript">

    function addCart(prodid) {
        //fbq('track', 'AddToCart');

        var price = $("#price" + prodid).val();
        var sku = $("#sku" + prodid).val();
        var mrp = $("#mrp" + prodid).val();
        var qty = $("#qty" + prodid).val();
        var name = $("#name" + prodid).val();
        var id = prodid;
        var checksession = "";
        //alert(checksession);

        fbq('track', 'AddToCart', { currency: 'INR', value: mrp });


        if (!sku || !id || !name || !qty || !price || !mrp) {


            alert('Your Session Expired ');
            var logouturl = "#";
            window.location = logouturl; return;


        }



        if (!checksession) {
            alert('Your Session Expired ');
            var logouturl = "#";
            window.location = logouturl; return;

        }

        let MyCartBtn = $(".MyCartBtn" + id);
        if (MyCartBtn.text().indexOf("Go") >= 0) {
            window.location.href = "#";
            return;
        }

        //  alert(id+' -> '+name+' -> '+qty+' -> '+price);
        $.ajax({
            type: 'post',
            url: '#',
            data: { sku: sku, product_id: id, product_name: name, quantity: qty, price: price, mrp: mrp },
            success: function (data) {

                //  console.log(data); return;
                // alert(data);

                $('.showCartCount').text(data);
                $('.showcount').html(data);

                $('#showcount').html(data);

                swal({
                    title: "Success",
                    text: "Item Added To cart",
                    icon: "success",
                    button: false,
                    timer: 1000
                });

                MyCartBtn.text("Go to Cart");


                // $.notify("Item Added To cart","success");
            }
        });



        // datalayer
        window.dataLayer = window.dataLayer || [];
        let objD = {
            'event': 'eec.addToCart',  		// name of an event. In this case, always stays as eec.addToCart
            'ecommerce': {					// ecommerce object. This is the essential part of tracking. New EE data must always be pushed to this object
                'currencyCode': 'INR',			// the currency which is currently used by a visitor 
                'add': {						// name of an action. In this case, always stays as add
                    'actionField': {
                        'list': 'main'			// optional. name of a list from which the product was added to a cart  
                    },
                    'products': [{     			// list of products added to a cart. Can contain multiple products at the same time
                        'name': name,      // name of a product that was added to a cart
                        'id': sku,     	// id of a product
                        'price': price,		// price of a product
                        'brand': 'Sushain',		// brand/vendor of a product
                        'category': 'ayurvedicproducts',	// category of a product
                        // 'variant': 'Silver',     // product variant. If there are no variants, exclude this key from the dataLayer.push
                        'quantity': 1
                    }]
                }
            }
        };
        window.dataLayer.push(objD);

        //datalayer


    }
</script>

<script type="text/javascript">
    function DeleteCart(id) {
        if (confirm("Are you sure to remove this item from cart ?")) {

            var id = id;


            // alert(id+' -> '+name+' -> '+qty+' -> '+price);
            $.ajax({
                type: 'post',
                url: '#',
                data: { id: id },
                success: function (data) {
                    if (data == 'yes') {
                        location.reload();
                    }
                }
            });
        }
    }


    function getCategory() {
        var search = $("#type").val();
        $.ajax({
            url: '#',
            type: 'post',
            data: {
                search: search
            },
            dataType: 'json',
            success: function (response) {

                var len = response.length;
                $("#category").empty();
                $("#category").append('<option value="">Select Category</option>');
                for (var i = 0; i < len; i++) {
                    var id = response[i]['id'];
                    var name = response[i]['name'];

                    $("#category").append('<option value="' + name + '">' + name + '</option>');

                }




            }
        })
    }
</script>
<script>
    $(document).on('click', '.mobile-menutoggle', function () {
        $('.menu-listing').toggleClass('active');
    });
    $(document).ready(function () {
        $('.pro_id').select2();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#availity').datepicker({
            startDate: '+0d',
            format: 'dd-mm-yyyy',
            todayHighlight: true,
            autoclose: true,
        });

        $('.datesurch').datepicker({
            format: 'dd-mm-yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
</script>

<script>
    $(document).on('click', '.mobile-menutoggle', function () {
        $('.menu-listing').toggleClass('active');
    });
</script>


<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
    integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
    integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="scripts/mainPushNew11.js"></script>
<script>(function () { var js = "window['__CF$cv$params']={r:'858db55cbb34661b',t:'MTcwODUwNTA3Ny43NDQwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>
</body>

</html>