<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- stylesheet -->

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link href="/css/dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <!-- Site title and description -->

    <title> Lorem ipsum dolor sit amet. </title>
    <meta name="description" content="Lorem ipsum dolor sit amet.">
    <meta name="keywords" content="Lorem ipsum dolor sit amet.">
    <meta name="author" content="nishant ">
    <link rel="canonical" href="#" />
    <link rel="icon" href="#" sizes="16x16">
    <meta name="theme-color" content="#34a9bf">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#34a9bf">


    <style>
        .mob-v {
            display: none;
        }

        .mob-view {
            display: none !important;
        }

        @media (max-width: 575.98px) {

            .web-view {
                display: none !important;
            }

            .mob-view {
                display: block !important;
            }
        }

        @media (min-width: 576px) and (max-width: 767.98px) {
            .web-view {
                display: none !important;
            }

            .mob-view {
                display: block !important;
            }

        }
    </style>

</head>
<style type="text/css">
    .search_box-location {
        display: flex;
        flex-direction: column-reverse;
    }

    .more-text {
        display: none;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .btn-sign-in {
        color: var(--green);
        border-color: var(--green);
    }

    .primary-color {
        color: var(--blue);
    }

    .primary-bg {
        background-color: var(--blue);
    }

    .second-color {
        color: var(--green);
    }

    .second-bg {
        background-color: var(--green);
    }

    .search {
        position: relative;
        box-shadow: none
    }

    .search input {
        height: 40px;
        border: 2px solid #d6d4d4;
    }

    .search input:focus {
        box-shadow: none;
        border: 2px solid #d6d4d4;
    }

    .search .fa-search {
        position: absolute;
        top: 11px;
        right: 16px;
    }


    a.btn.btn-sign-in.fs-14.mx-2.rounded-0.text-decoration-none.text-green:hover {
        color: var(--second-color);
    }

    @media (max-width: 991.5px) {
        /* .mblheight{  line-height: 3;  } */

        .menu-listing.active {
            left: 0;
            right: unset;
        }

        .menu-listing {
            -webkit-transition: 500ms cubic-bezier(0.1, 0.52, 0.165, 1);
            transition: 500ms cubic-bezier(0.1, 0.52, 0.165, 1);
            left: -300px;
            animation-direction: revert;
        }
    }


    .dropdown-content_search {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    .dropdown-content_search a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    @media (min-width:1200px) and (max-width:1398px) {

        header .list-inline-item {
            margin-left: 0px !important;
        }

    }

    @media only screen and (max-width: 600px) {
        .circle-grey {
            width: 80px;
            height: 80px;
        }

        .circle-grey img {
            max-height: 50px;
            max-width: 50px;
        }
    }

    footer .footer-links a {
        word-break: break-word !important;
    }

    .server {
        word-break: break-word !important;
    }



    @media (max-width: 280px) {

        div.d-lg-none button,
        div.d-lg-none a {
            font-size: 13px;
        }
    }

    @media (max-width: 300px) {
        .logo-box img {
            width: 35px !important;
        }

        div.d-flex div.text-blue {
            font-size: 14px !important;
        }

        div.ms-auto {
            font-size: 13px !important;
        }

    }

    @media (max-width: 600px) {
        div.row>div.profile_sidebar {
            display: none;
        }

        div.menu-listing2>div.profile_sidebar {
            display: block;
        }

        .menu-listing {
            background: #f1f4f5;
        }

        header .login-user-details {
            display: flex;
            background: #fff;
            margin-bottom: 10px;
            padding: 13px 20px;
            width: 110%;
            position: relative;
            top: -10px;
            left: -14px;
        }

        header .login-user-details .user-img img {
            border-radius: 40px;
        }

        header .login-user-details .user-d h3 {
            color: #34AEC3;
            margin-bottom: 5px;
        }

        header .login-user-details .user-d {
            padding: 0 0 0 12px;
        }

        .useredit {
            position: absolute;
            top: 1px;
            right: 20px;
        }


        header .list-inline-item a {
            display: block;
            background: #fff;
            padding: 10px 13px;
            border-radius: 13px;
            font-size: 12px;
        }

        header .list-inline-item {
            background: #fff;
            border-radius: 13px;
            margin-bottom: 10px;
            overflow: hidden;
        }

        header .list-inline-item a .badge {
            background: #80af41;
            border-radius: 30px;
            margin-left: 5px;
            text-transform: uppercase;
        }

        header .mobile-orderbottom {
            order: 0;
        }

        header .support-menu {
            background: #fff;
            padding: 10px;
            margin: 0;
        }

        header .logout-menu {
            background: #fff;
            padding: 10px;
            border-top: 1px solid #ececec;
            margin: 0;
        }

        header .logout-menu a {
            color: #80af41;
        }

        header .support-menu li.p {
            color: #80af41;
            margin-bottom: 15px;
        }

        header .support-menu li a {
            color: #666;
            margin-bottom: 15px;
        }

        .menu-listing {
            padding: 0;
        }

        header .mobile-links {
            padding: 10px 10px;
            margin: 0;
        }

        .web-v {
            display: none;
        }

        .mob-v {
            display: block;
        }

        .menulink_img {
            width: 23px;
            margin-right: 10px;
        }

        .mob-v.mobile-links.mobile-orderbottom .dropdown-menu {
            border: 0px solid #34AEC3;
        }

        .mob-v.mobile-links.mobile-orderbottom .dropdown-menu.show {
            position: relative !important;
            transform: translate(0px, 8px) !important;
            padding: 0 0 0 20px;
        }

        .dropdown-toggle.show::after {
            transform: rotate(0deg);
        }

        .dropdown-toggle::after {
            transform: rotate(-90deg);
            top: 20px;
            position: absolute;
            right: 10px;
        }



        .mob-v.mobile-links.mobile-orderbottom .dropdown-menu li a {
            padding: 0px 0px 0 50px;
            position: relative;
        }

        .mob-v.mobile-links.mobile-orderbottom .dropdown-menu li a img {
            position: absolute;
            left: 20px;
        }


    }


    @media (max-width: 991.5px) {
        .menu-listing2 {
            position: fixed;
            top: 60px;
            right: -100%;
            padding: 10px 20px 40px 20px;
            z-index: 100;
            width: 95%;
            height: calc(100% - 60px);
            background-color: #fff;
            -webkit-box-shadow: 0 20px 10px #ccc;
            box-shadow: 0 20px 10px #ccc;
            overflow: hidden;
            overflow-y: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-transition: 500ms cubic-bezier(0.1, 0.52, 0.165, 1);
            transition: 500ms cubic-bezier(0.1, 0.52, 0.165, 1);
        }

        .menu-listing2.active {
            right: 0;
        }

        header .logo-box img {
            max-width: 90px !important;
        }
    }


    .modal-backdrop {
        z-index: -1;
    }

    .sticky {
        z-index: 10;
        position: fixed;
        top: 0;
        width: 100%;
    }
</style>
<style>
    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: none;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
        text-align: center;
    }

    #loading-image {
        position: absolute;
        top: 48%;
        text-align: center;
        z-index: 9000000000;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    a {
        text-decoration: none;
    }


    .mw {
        max-width: 100%;
        padding-left: 3%;
        padding-right: 3%;


    }




    .float2 {
        position: fixed;
        bottom: 5%;
        right: 32px;
        color: black;
        border-radius: 50px;
        text-align: center;
        font-size: 14px;
        z-index: 100;
    }


    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 11%;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }


    .my-float {
        margin-top: 16px;
    }

    @media (max-width: 360px) {
        .logo-box img {
            max-width: 64px !important;
        }
    }



    @media (max-width: 991px) {
        .menu-listing {
            --width: calc(100vw - 30%) !important;
            width: var(--width);
            max-width: 240px;
        }

        .menu-listing2 {
            --width: calc(100vw - 10%) !important;
            width: var(--width);
            max-width: 280px;
        }
    }

    .mj-menu-overlay.active {
        position: relative;
        background: #c7c3c34f;
        top: 10px;
        right: 0;
        left: 0;
        border: 0;
        height: 100vh;
        width: 100vw;
    }

    .mj-menu-overlay-profile.active {
        position: relative;
        background: #c7c3c34f;
        top: 10px;
        right: 0;
        left: 0;
        border: 0;
        height: 100vh;
        width: 100vw;
    }
</style>

<body>