<!-- Info Carousal Starts -->

<section class="bg-muted ">
    <div class="container">
        <div class=" row text-center">
            <img alt="Ayurveda " src="https://sushainclinic.s3.ap-south-1.amazonaws.com/staticimages/ayurvedia.png"
                loading="lazy" class="ayuimg" alt="Sushain Clinic">
        </div>
        <div class="row">
            <div class="col-md-12 pt-3 pb-5">
                <div id="carouselBlog" class="carousel slide carousel-blog" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselBlog" data-bs-slide-to="0"
                            class="active"></button>
                        <button type="button" data-bs-target="#carouselBlog" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselBlog" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carouselBlog" data-bs-slide-to="3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-md-6 ">
                                    <img alt="diabetes " src="#" loading="lazy" style="width:100%"
                                        alt="Sushain Clinic">
                                </div>
                                <div class="col-md-6 ">
                                    <h3 class="text-theme ">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit illum qui
                                        eaque dolor assumenda nam provident debitis obcaecati inventore
                                        architecto?
                                    </h3>
                                    <p class="fs-sm-lg font-blog-text " style="    text-align: justify;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                                        accusantium quae hic repudiandae consectetur libero suscipit! Eum totam
                                        mollitia officiis at ullam. Adipisci tenetur corporis praesentium nam ab
                                        suscipit incidunt?
                                        Totam ex est recusandae perferendis possimus. Molestias at sequi et eius
                                        expedita explicabo sed voluptatibus voluptas? Ut at illum est rerum
                                        asperiores quae dolorem. Recusandae sed possimus labore laborum. Odio?
                                        Excepturi asperiores omnis, saepe et nemo incidunt ducimus odio sunt
                                        blanditiis ea quod magni velit nesciunt dicta magnam fugit minus cumque
                                        minima ab! Atque totam molestiae doloribus natus, nisi ipsum. </p>
                                    <a target="_blank" href="#"
                                        class="btn btn-success fs-sm-lg px-4 btn-rounded">Consult Now ...</a>
                                    <a target="_blank" href="#" class="btn btn-success fs-sm-lg px-4 btn-rounded "
                                        style="float:right">Read All Blogs </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row align-items-center">
                                <div class="col-md-6 ">
                                    <img alt="diabetes " src="#" loading="lazy" style="width:100%"
                                        alt="Sushain Clinic">
                                </div>
                                <div class="col-md-6 ">
                                    <h3 class="text-theme ">
                                        Is Diabetes making your life bitter? Know how Ayurveda can help you lead
                                        a happy and sweet life
                                    </h3>
                                    <p class="fs-sm-lg font-blog-text " style="    text-align: justify;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas id
                                        exercitationem libero deserunt maxime blanditiis quis necessitatibus
                                        ducimus ex adipisci. Eum ea animi consequuntur at exercitationem omnis
                                        ullam, doloremque obcaecati.
                                        In delectus consequuntur doloremque dolore et fugit velit repellendus
                                        nam eum iusto dicta alias tempora cupiditate ratione consectetur
                                        recusandae, modi exercitationem non. Necessitatibus, odio labore?
                                        Laudantium enim voluptate eum dolorem.
                                        Aut, dicta ad repudiandae optio cumque excepturi incidunt unde facere
                                        expedita explicabo, voluptatibus beatae? Perferendis reiciendis laborum
                                        aut sed magnam ex iure enim sunt a quisquam recusandae, aperiam ut
                                        perspiciatis?
                                        Illo nulla nobis, aliquid quos eius consequatur vero accusantium impedit
                                        quasi non dicta alias culpa ipsum, tempora cum, magni aliquam quo
                                        perspiciatis illum nam soluta necessitatibus voluptate eaque? Ipsam,
                                        obcaecati?
                                        Culpa, laborum dignissimos tempore cumque maiores magnam et magni
                                        similique minima facere ad officiis quod cupiditate corrupti, ut
                                        eligendi recusandae impedit! Fugit architecto, assumenda libero voluptas
                                        accusantium veniam voluptatibus harum.
                                    </p>
                                    <a target="_blank" href="#"
                                        class="btn btn-success fs-sm-lg px-4 btn-rounded">Know more...</a>
                                    <a target="_blank" href="#" class="btn btn-success fs-sm-lg px-4 btn-rounded "
                                        style="float:right">Read All Blogs </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-6 mb-3">
                                    <img src="#" loading="lazy" class="d-block rounded w-100" alt="Sushain Clinic">
                                </div>
                                <div class="col-md-6 ms-md-auto">
                                    <h3 class="text-theme mb-3">
                                        How to get Natural Glowing & Healthy Skin with Ayurvedic Medicines
                                    </h3>
                                    <p class="fs-sm-lg  font-blog-text ">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, incidunt
                                        repellendus. Aliquam unde autem labore perspiciatis maxime? Molestias,
                                        praesentium voluptates, tempore dolores sapiente facilis possimus quo,
                                        libero beatae minima nesciunt.
                                        Optio repellat aliquid suscipit amet cupiditate illo, possimus
                                        laboriosam harum cum, voluptatum incidunt dicta? Omnis accusamus aut
                                        voluptatum velit laborum pariatur dolores similique eligendi? Nisi
                                        reiciendis fugiat praesentium? Totam, doloribus.
                                        Quas, voluptatum! Libero dolor dolorum blanditiis nihil aliquid
                                        doloribus temporibus repellat animi, corporis laborum ducimus
                                        reprehenderit, dolores deleniti illum! Est magnam iusto porro soluta
                                        dolorum obcaecati aliquam tempora dignissimos ad?
                                        Dolores ea quas esse, deleniti delectus error incidunt dolorum commodi
                                        consequuntur ullam rerum, officiis eveniet sunt repellendus iusto soluta
                                        eos. Eaque laudantium eius, omnis facere reprehenderit numquam dolor
                                        aperiam explicabo!
                                        Repudiandae reiciendis a, voluptatum optio rerum voluptatem accusantium
                                        ipsa beatae reprehenderit perspiciatis assumenda iste totam labore
                                        quibusdam voluptatibus, ea voluptas sit, expedita mollitia aspernatur
                                        non. Voluptatum veniam molestias veritatis doloremque.
                                    </p>
                                    <a target="_blank" href="#"
                                        class="btn btn-success fs-sm-lg px-4 btn-rounded">Know more...</a>
                                    <a target="_blank" href="#" class="btn btn-success fs-sm-lg px-4 btn-rounded "
                                        style="float:right">Read All Blogs </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-6 mb-3">
                                    <img src="#" loading="lazy" class="d-block rounded w-100" alt="Sushain Clinic">
                                </div>
                                <div class="col-md-6 ms-md-auto">
                                    <h3 class="text-theme mb-3">
                                        Hypertension: Causes, Symptoms, Treatment and Dietary Suggestions
                                    </h3>
                                    <p class="fs-sm-lg  font-blog-text ">
                                        A practical definition of hypertension is the level of BP at which the
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti
                                        assumenda eum ipsa optio natus exercitationem nemo, commodi dicta. A non
                                        inventore debitis officiis aperiam at magnam pariatur hic molestiae
                                        illum.
                                        Dolore optio quis officia veritatis ducimus cumque alias aliquam iure
                                        maxime quibusdam obcaecati quas dolores consequatur beatae magni aut
                                        nemo illo, provident culpa. Voluptas unde non blanditiis accusantium?
                                        Magnam, vero.
                                        Animi perferendis molestiae cupiditate commodi dolor fugit, magni
                                        debitis totam. Animi nisi cum saepe nam assumenda illo id blanditiis
                                        quod fugit, molestias doloremque laboriosam sed maiores, quo quas enim
                                        alias.
                                        Blanditiis minus quo nesciunt molestiae vel quidem accusantium, fugit
                                        aliquam odio, porro reprehenderit sit ut atque. Natus, amet. Quisquam,
                                        esse tempore? Consequatur consequuntur quas eos doloribus suscipit
                                        itaque deleniti qui.
                                        Dicta eum repudiandae natus illum accusantium cumque dolorum obcaecati
                                        ratione exercitationem suscipit doloremque iusto distinctio minus
                                        accusamus a voluptates maxime beatae, eos consequatur soluta! Nemo
                                        laudantium molestiae porro iste fugit?</p>
                                    <a target="_blank" href="#"
                                        class="btn btn-success fs-sm-lg px-4 btn-rounded">Know
                                        more...</a>
                                    <a target="_blank" href="#" class="btn btn-success fs-sm-lg px-4 btn-rounded "
                                        style="float:right">Read All Blogs </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Info Carousal Ends -->