<!-- Buy Medicines Online and Medicines by Health Concern Starts -->

<section class="pb-1 bg-muted mt-2 ">

    <!-- Buy Medicines Online Starts -->

    <div class="bg-muted pt-1 " style="padding-bottom: 80px">
        <div class="container">
            <div class="row">
                <div class="col-md-12  text-center">
                    <h2 class=" fw-bold my-4 text-uppercase text-center primary-color h4 page-heading">
                        BUY AYURVEDIC MEDICINES ONLINE
                    </h2>

                </div>
            </div>
        </div>
    </div>
    <div class="container text-center" style="margin-top:-120px">

        <div class="row gy-5" style="overflow: hidden; overflow-x:auto; flex-wrap: nowrap;">
            <a class="col mb-3 greycolor" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="kottakkal"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16603843666935.png">
                    </div>
                </div>
            </a>
            <a class="col mb-3 greycolor" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="kottakkal"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16603843666935.png">
                    </div>
                </div>
            </a>
            <a class="col mb-3 greycolor" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="kottakkal"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16603843666935.png">
                    </div>
                </div>
            </a>
            <a class="col mb-3 greycolor" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="kottakkal"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16603843666935.png">
                    </div>
                </div>
            </a>
            <a class="col mb-3 greycolor" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="kottakkal"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16603843666935.png">
                    </div>
                </div>
            </a>
            <a class="col mb-3 greycolor" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="kottakkal"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16603843666935.png">
                    </div>
                </div>
            </a>
            <a class="col mb-3 greycolor" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="kottakkal"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16603843666935.png">
                    </div>
                </div>
            </a>
            <a class="col mb-3 greycolor" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="kottakkal"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/16603843666935.png">
                    </div>
                </div>
            </a>

        </div>
    </div>

    <!-- Buy Medicines Online Ends -->

    <!-- Buy Medicines By Health Comcern Starts -->

    <h2 class=" fw-bold my-4 text-uppercase text-center primary-color h6 page-heading">
        Medicines by Health Concerns </h2>
    <div class="container text-center">

        <div class="row gy-5" style="overflow: hidden; overflow-x:auto; flex-wrap: nowrap;">
            <a class="col mb-3 greycolor" style="padding-right: 0px; padding-left: 0px;" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="Liver & Kidney"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1660384655771.png">
                    </div>
                    <h6 class="my-3 feature-links fw-medium">Liver & Kidney</h6>
                </div>
            </a>
            <a class="col mb-3 greycolor" style="padding-right: 0px; padding-left: 0px;" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="Liver & Kidney"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1660384655771.png">
                    </div>
                    <h6 class="my-3 feature-links fw-medium">Liver & Kidney</h6>
                </div>
            </a>
            <a class="col mb-3 greycolor" style="padding-right: 0px; padding-left: 0px;" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="Liver & Kidney"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1660384655771.png">
                    </div>
                    <h6 class="my-3 feature-links fw-medium">Liver & Kidney</h6>
                </div>
            </a>
            <a class="col mb-3 greycolor" style="padding-right: 0px; padding-left: 0px;" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="Liver & Kidney"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1660384655771.png">
                    </div>
                    <h6 class="my-3 feature-links fw-medium">Liver & Kidney</h6>
                </div>
            </a>
            <a class="col mb-3 greycolor" style="padding-right: 0px; padding-left: 0px;" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="Liver & Kidney"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1660384655771.png">
                    </div>
                    <h6 class="my-3 feature-links fw-medium">Liver & Kidney</h6>
                </div>
            </a>
            <a class="col mb-3 greycolor" style="padding-right: 0px; padding-left: 0px;" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="Liver & Kidney"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1660384655771.png">
                    </div>
                    <h6 class="my-3 feature-links fw-medium">Liver & Kidney</h6>
                </div>
            </a>
            <a class="col mb-3 greycolor" style="padding-right: 0px; padding-left: 0px;" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="Liver & Kidney"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1660384655771.png">
                    </div>
                    <h6 class="my-3 feature-links fw-medium">Liver & Kidney</h6>
                </div>
            </a>
            <a class="col mb-3 greycolor" style="padding-right: 0px; padding-left: 0px;" target="_blank" href="#">
                <div class="col mb-3" style="cursor:pointer;">
                    <div class="circle-grey">
                        <img alt="Liver & Kidney"
                            src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/1660384655771.png">
                    </div>
                    <h6 class="my-3 feature-links fw-medium">Liver & Kidney</h6>
                </div>
            </a>

        </div>
    </div>

</section>

<!-- Buy Medicines Online and Medicines by Health Concern Ends -->