<!-- Media Coverage Starts -->

<section class="bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-3 text-center">
                <h2 class="fw-bolder text-theme text-uppercase mb-1">Media Coverage</h2>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-arrow px-5" id="carouselMediaCoverage">
                    <div class="item py-3">
                        <div class="card h-100 card-media">
                            <div class="card-body p-4 fs-sm-lg">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officia.</div>
                            <div class="card-footer bg-white border-0 d-flex align-items-center px-4 pt-0 pb-4">
                                <a href="#" target="_blank" class="text-blue text-decoration-none">Know
                                    more...</a>
                                <img src="#" alt="Image of Media" class="ms-auto w-auto" height="54">
                            </div>
                        </div>
                    </div>
                    <div class="item py-3">
                        <div class="card h-100 card-media">
                            <div class="card-body p-4 fs-sm-lg">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officia.</div>
                            <div class="card-footer bg-white border-0 d-flex align-items-center px-4 pt-0 pb-4">
                                <a href="#" target="_blank" class="text-blue text-decoration-none">Know
                                    more...</a>
                                <img src="#" alt="Image of Media" class="ms-auto w-auto" height="54">
                            </div>
                        </div>
                    </div>
                    <div class="item py-3">
                        <div class="card h-100 card-media">
                            <div class="card-body p-4 fs-sm-lg">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officia.</div>
                            <div class="card-footer bg-white border-0 d-flex align-items-center px-4 pt-0 pb-4">
                                <a href="#" target="_blank" class="text-blue text-decoration-none">Know
                                    more...</a>
                                <img src="#" alt="Image of Media" class="ms-auto w-auto" height="54">
                            </div>
                        </div>
                    </div>
                    <div class="item py-3">
                        <div class="card h-100 card-media">
                            <div class="card-body p-4 fs-sm-lg">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officia.</div>
                            <div class="card-footer bg-white border-0 d-flex align-items-center px-4 pt-0 pb-4">
                                <a href="#" target="_blank" class="text-blue text-decoration-none">Know
                                    more...</a>
                                <img src="#" alt="Image of Media" class="ms-auto w-auto" height="54">
                            </div>
                        </div>
                    </div>
                    <div class="item py-3">
                        <div class="card h-100 card-media">
                            <div class="card-body p-4 fs-sm-lg">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officia.</div>
                            <div class="card-footer bg-white border-0 d-flex align-items-center px-4 pt-0 pb-4">
                                <a href="#" target="_blank" class="text-blue text-decoration-none">Know
                                    more...</a>
                                <img src="#" alt="Image of Media" class="ms-auto w-auto" height="54">
                            </div>
                        </div>
                    </div>
                    <div class="item py-3">
                        <div class="card h-100 card-media">
                            <div class="card-body p-4 fs-sm-lg">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officia.</div>
                            <div class="card-footer bg-white border-0 d-flex align-items-center px-4 pt-0 pb-4">
                                <a href="#" target="_blank" class="text-blue text-decoration-none">Know
                                    more...</a>
                                <img src="#" alt="Image of Media" class="ms-auto w-auto" height="54">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Media Coverage Ends -->