<!-- Our Programs Mobile View Starts -->

<section class="container-lg cursor-pointer mobileView mt-1">
    <h2 class=" fw-bold my-2 text-theme  text-center h4 page-heading text-uppercase "> Our Programs </h2>
    <div class="row">
        <div class="col-md-4 mt-1">
            <img class="img-fluid  " alt="Parenthood  Program" loading="lazy " onclick="location.href='#'"
                src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/public/infer_mbl.jpg">
        </div>
        <div class="col-md-4 mt-1">
            <img class="img-fluid  " alt="Parenthood  Program" loading="lazy " data-bs-toggle="modal"
                data-bs-target="#reversalmodal"
                src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/public/dia_rever_mbl.jpg">
        </div>
        <div class="col-md-4 mt-1 ">
            <img class="img-fluid  " alt="Menoveda  Program" loading="lazy " onclick="location.href='#'"
                src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/public/meno_mbl.jpg">
        </div>
    </div>
</section>

<!-- Our Programs Mobile View Ends -->

<!-- Our Programs Desktop View Starts -->

<section class="container-lg cursor-pointer desktopView mt-2">
    <h2 class=" fw-bold my-2 text-theme text-center h4 page-heading text-uppercase "> Our Programs </h2>
    <div class="row">
        <div class="col-md-4 mt-1">
            <img class="img-fluid  cursor-pointer  " alt="Parenthood  Program" loading="lazy "
                onclick="location.href='#'"
                src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/public/infer_desk.jpg">
        </div>

        <div class="col-md-4 mt-1">
            <img class="img-fluid  cursor-pointer  " alt="Parenthood  Program" loading="lazy "
                onclick="location.href='#'"
                src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/public/infer_desk.jpg">
        </div>

        <div class="col-md-4 mt-1">
            <img class="img-fluid  cursor-pointer  " alt="Parenthood  Program" loading="lazy "
                onclick="location.href='#'"
                src="https://sushainclinic.s3.ap-south-1.amazonaws.com/uploads/public/infer_desk.jpg">
        </div>
    </div>
</section>
<!-- Our Programs Desktop View Ends -->